## Primero, importamos los módulos y el archivo csv sobre el que vamos a trabajar

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('input/attacks.csv', encoding='latin')

In [4]:
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Select columns

In [5]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [6]:
dfin=df[["Year", "Country", "Fatal (Y/N)",]]
dfin.head()

     Year    Country Fatal (Y/N)
0  2018.0        USA           N
1  2018.0        USA           N
2  2018.0        USA           N
3  2018.0  AUSTRALIA           N
4  2018.0     MEXICO           N

# Clean rows with all values NaN

In [7]:
dfin.isnull().sum().sort_values(ascending=False).head(20)

Fatal (Y/N)    19960
Country        19471
Year           19423
dtype: int64

In [8]:
dfin=dfin.dropna(axis=0, how='all')

In [9]:
dfin.isnull().sum().sort_values(ascending=False).head(20)

Fatal (Y/N)    539
Country         50
Year             2
dtype: int64

# Group by decades and fatal cases

In [10]:
dfin["Year"].value_counts().sort_values('index', ascending=True).head(5)

1786.0    1
1554.0    1
1771.0    1
1721.0    1
1742.0    1
Name: Year, dtype: int64

In [11]:
dfin['Year'] = dfin['Year'].fillna(0)

In [12]:
dfin.isnull().sum().sort_values(ascending=False).head(20)

Fatal (Y/N)    539
Country         50
Year             0
dtype: int64

In [13]:
dfin.Year = dfin.Year.astype(int)

In [14]:
dfin["Year"].value_counts().head()

2015    143
2017    136
2016    130
2011    128
0       127
Name: Year, dtype: int64

In [15]:
dfin["Fatal (Y/N)"].value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
2017          1
N             1
y             1
M             1
Name: Fatal (Y/N), dtype: int64

In [16]:
dfin['Fatal (Y/N)'] = dfin['Fatal (Y/N)'].fillna("UNKNOWN")

In [17]:
def fatal(x):
    if x in ["Y", "y"]:
        return "Yes"
    elif x in ["N"," N"]:
        return "No"    
    return "Unknown"


dfin["Fatal (Y/N)"] = dfin["Fatal (Y/N)"].apply(fatal)

In [18]:
def year(x):
    if x >= 1930 and x <=1939:
        return "1930's"
    if x >= 1940 and x <=1949:
        return "1940's"
    if x >= 1950 and x <=1959:
        return "1950's"
    if x >= 1960 and x <=1969:
        return "1960's"
    if x >= 1970 and x <=1979:
        return "1970's"
    if x >= 1980 and x <=1989:
        return "1980's"
    if x >= 1990 and x <=1999:
        return "1990's"
    if x >= 2000 and x <=2010:
        return "2000's"
    if x >= 2010:
        return "2010's"
    return "Before 1930"

dfin["Year"]= dfin["Year"].apply(year)

In [19]:
dfin["Year"].value_counts().head()

Before 1930    1248
2000's         1122
2010's          956
1960's          618
1990's          569
Name: Year, dtype: int64

In [20]:
dfin["Country"].value_counts().head()

USA                 2229
AUSTRALIA           1338
SOUTH AFRICA         579
PAPUA NEW GUINEA     134
NEW ZEALAND          128
Name: Country, dtype: int64

In [21]:
dfin["Fatal (Y/N)"].value_counts()

No         4300
Yes        1389
Unknown     613
Name: Fatal (Y/N), dtype: int64

In [22]:
dfin.head()

     Year    Country Fatal (Y/N)
0  2010's        USA          No
1  2010's        USA          No
2  2010's        USA          No
3  2010's  AUSTRALIA          No
4  2010's     MEXICO          No

# Mortality by decades, percentage and difference between decades

In [23]:
decades = dfin.groupby(["Year", "Fatal (Y/N)"]).agg({"Fatal (Y/N)":"count"})
decades.head(5)

                    Fatal (Y/N)
Year   Fatal (Y/N)
1930's No                   163
       Unknown               27
       Yes                   84
1940's No                   158
       Unknown               22

In [24]:
groupped_data = dfin.groupby(["Year", "Fatal (Y/N)"]).agg({"Fatal (Y/N)":"count"})
groupped_data["%"] = groupped_data.apply(lambda x:  100*x / x.sum())


groupped_data["%"] = groupped_data.groupby(level=0).apply(
     lambda x:  100*x / x.sum()
)
groupped_data.head(10)

                    Fatal (Y/N)          %
Year   Fatal (Y/N)
1930's No                   163  59.489051
       Unknown               27   9.854015
       Yes                   84  30.656934
1940's No                   158  55.830389
       Unknown               22   7.773852
       Yes                  103  36.395760
1950's No                   286  61.637931
       Unknown               42   9.051724
       Yes                  136  29.310345
1960's No                   422  68.284790

In [25]:
groupped_data = groupped_data.xs("Yes", level = "Fatal (Y/N)", drop_level = False)
groupped_data = groupped_data[:9]
groupped_data['difference'] = groupped_data['%'].diff().round(1)    
groupped_data['%'] = groupped_data['%'].round(1).astype(str) + "%"
groupped_data

                    Fatal (Y/N)      %  difference
Year   Fatal (Y/N)
1930's Yes                   84  30.7%         NaN
1940's Yes                  103  36.4%         5.7
1950's Yes                  136  29.3%        -7.1
1960's Yes                  112  18.1%       -11.2
1970's Yes                   68  20.4%         2.2
1980's Yes                   51  11.8%        -8.6
1990's Yes                   89  15.6%         3.9
2000's Yes                  109   9.7%        -5.9
2010's Yes                   66   6.9%        -2.8

# Select Australia and USA

In [26]:
indexNames = dfin[(dfin['Country'] != "USA") & (dfin['Country'] != "AUSTRALIA")].index
dfin.drop(indexNames , inplace=True)

In [27]:
aus_data= dfin[dfin["Country"] == "AUSTRALIA"].groupby(["Year", "Fatal (Y/N)"]).agg({"Fatal (Y/N)":"count"})
aus_data["%"] = aus_data.apply(lambda x:  100*x / x.sum())


aus_data["%"] = aus_data.groupby(level=0).apply(
     lambda x:  100*x / x.sum()
)
aus_data['%'] = aus_data['%'].round(2).astype(str) + "%"
aus_data.head()

                    Fatal (Y/N)       %
Year   Fatal (Y/N)
1930's No                    83  63.36%
       Unknown               13   9.92%
       Yes                   35  26.72%
1940's No                    48  64.86%
       Unknown                7   9.46%

In [28]:
usa_data= dfin[dfin["Country"] == "USA"].groupby(["Year", "Fatal (Y/N)"]).agg({"Fatal (Y/N)":"count"})
usa_data["%"] = usa_data.apply(lambda x:  100*x / x.sum())


usa_data["%"] = usa_data.groupby(level=0).apply(
     lambda x:  100*x / x.sum()
)
usa_data['%'] = usa_data['%'].round(2).astype(str) + "%"
usa_data.head()

                    Fatal (Y/N)       %
Year   Fatal (Y/N)
1930's No                    39   75.0%
       Unknown                5   9.62%
       Yes                    8  15.38%
1940's No                    22  68.75%
       Unknown                3   9.38%

## Mortality by decades, percentage and difference between decades Australia y USA

In [29]:
total_data= dfin[dfin["Fatal (Y/N)"] == "Yes"].groupby(["Year", "Country"]).agg({"Fatal (Y/N)":"count"})
total_data["%"] = total_data.apply(lambda x:  100*x / x.sum())
total_data["%"] = total_data.groupby(level=0).apply(
     lambda x:  100*x / x.sum()
)
total_data['%'] = total_data['%'].round(2).astype(str) + "%"

In [30]:
total_data.head(20)

                       Fatal (Y/N)       %
Year        Country
1930's      AUSTRALIA           35   81.4%
            USA                  8   18.6%
1940's      AUSTRALIA           19  73.08%
            USA                  7  26.92%
1950's      AUSTRALIA           16  47.06%
            USA                 18  52.94%
1960's      AUSTRALIA           11  52.38%
            USA                 10  47.62%
1970's      AUSTRALIA           11   55.0%
            USA                  9   45.0%
1980's      AUSTRALIA           10  45.45%
            USA                 12  54.55%
1990's      AUSTRALIA           11  47.83%
            USA                 12  52.17%
2000's      AUSTRALIA           15  48.39%
            USA                 16  51.61%
2010's      AUSTRALIA           18  81.82%
            USA                  4  18.18%
Before 1930 AUSTRALIA          137  60.35%
            USA                 90  39.65%

# Mortality through all history

In [31]:
data_usa_aus = dfin.groupby(["Country", "Fatal (Y/N)"]).agg({"Fatal (Y/N)":"count"})
data_usa_aus["%"] = data_usa_aus.apply(lambda x:  100*x / x.sum())


data_usa_aus["%"] = data_usa_aus.groupby(level=0).apply(
     lambda x:  100*x / x.sum()
)
data_usa_aus['%'] = data_usa_aus['%'].round(2).astype(str) + "%"
data_usa_aus.head(20)

                       Fatal (Y/N)       %
Country   Fatal (Y/N)
AUSTRALIA No                   920  68.76%
          Unknown              135  10.09%
          Yes                  283  21.15%
USA       No                  1837  82.41%
          Unknown              206   9.24%
          Yes                  186   8.34%

# Mortality 15 before and after "Jaws"

In [32]:
dfin2=df.copy()

In [33]:
dfin2=dfin2[["Year", "Country", "Activity", "Type", "Fatal (Y/N)",]]

In [34]:
dfin2.isnull().sum().sort_values(ascending=False).head()

Activity       19965
Fatal (Y/N)    19960
Country        19471
Type           19425
Year           19423
dtype: int64

In [35]:
dfin2=dfin2.dropna(axis=0, how='all')

In [36]:
dfin2.isnull().sum().sort_values(ascending=False).head()

Activity       544
Fatal (Y/N)    539
Country         50
Type             4
Year             2
dtype: int64

In [37]:
dfin2["Year"].value_counts().sort_values('index', ascending=True).head(5)

1786.0    1
1554.0    1
1771.0    1
1721.0    1
1742.0    1
Name: Year, dtype: int64

In [38]:
dfin2['Year'] = dfin2['Year'].fillna(0)

In [39]:
dfin2.Year = dfin2.Year.astype(int)

In [40]:
dfin2['Fatal (Y/N)'] = dfin2['Fatal (Y/N)'].fillna("UNKNOWN")

In [41]:
dfin2["Fatal (Y/N)"] = dfin2["Fatal (Y/N)"].apply(fatal)

In [42]:
def year2(x):
    if x >= 1960 and x <=1975:
        return "Before movie"
    if x >= 1976 and x <=1990:
        return "After movie"

    return "Rest"

dfin2["Year"]= dfin2["Year"].apply(year2)

In [43]:
indexNames = dfin2[(dfin2['Year'] != "Before movie") & (dfin2['Year'] != "After movie")].index
dfin2.drop(indexNames , inplace=True)

In [44]:
groupped_data2 = dfin2.groupby(["Year", "Fatal (Y/N)"]).agg({"Fatal (Y/N)":"count"})
groupped_data2["%"] = groupped_data2.apply(lambda x:  100*x / x.sum())


groupped_data2["%"] = groupped_data2.groupby(level=0).apply(
     lambda x:  100*x / x.sum()
)
groupped_data2['%'] = groupped_data2['%'].round(2).astype(str) + "%"
groupped_data2=groupped_data2.sort_values("Year", ascending=False)

In [45]:
groupped_data2

                          Fatal (Y/N)       %
Year         Fatal (Y/N)
Before movie No                   581  69.41%
             Unknown               96  11.47%
             Yes                  160  19.12%
After movie  No                   442   75.3%
             Unknown               71   12.1%
             Yes                   74  12.61%

# Mortality 15 before and after "Jaws" in USA

In [46]:
dfin3 = dfin2.copy()

In [47]:
dfin3 = dfin3[dfin3["Country"] == "USA"]

In [48]:
groupped_data3 = dfin3.groupby(["Year", "Fatal (Y/N)"]).agg({"Fatal (Y/N)":"count"})
groupped_data3["%"] = groupped_data3.apply(lambda x:  100*x / x.sum())


groupped_data3["%"] = groupped_data3.groupby(level=0).apply(
     lambda x:  100*x / x.sum()
)
groupped_data3['%'] = groupped_data3['%'].round(2).astype(str) + "%"
groupped_data3=groupped_data3.sort_values("Year", ascending=False)

In [49]:
groupped_data3

                          Fatal (Y/N)       %
Year         Fatal (Y/N)
Before movie No                   163  75.12%
             Unknown               40  18.43%
             Yes                   14   6.45%
After movie  No                   223  83.52%
             Unknown               26   9.74%
             Yes                   18   6.74%

# Mortality 15 before and after "Jaws" in Australia

In [61]:
dfin4 = dfin2.copy()
dfin4 = dfin4[dfin4["Country"] == "AUSTRALIA"]
groupped_data4 = dfin4.groupby(["Year", "Fatal (Y/N)"]).agg({"Fatal (Y/N)":"count"})
groupped_data4["%"] = groupped_data4.apply(lambda x:  100*x / x.sum())


groupped_data4["%"] = groupped_data4.groupby(level=0).apply(
     lambda x:  100*x / x.sum()
)
groupped_data4['%'] = groupped_data4['%'].round(2).astype(str) + "%"
groupped_data4=groupped_data4.sort_values("Year", ascending=False)
groupped_data4

                          Fatal (Y/N)       %
Year         Fatal (Y/N)
Before movie No                   142  81.14%
             Unknown               14    8.0%
             Yes                   19  10.86%
After movie  No                    48  65.75%
             Unknown               11  15.07%
             Yes                   14  19.18%