## Primero, importamos los módulos y el archivo csv sobre el que vamos a trabajar

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('input/attacks.csv', encoding='latin')

In [3]:
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Vamos a analizar las columnas y nos quedamos con las que vamos a trabajar para nuestra hipótesis

In [4]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [5]:
dfin=df[["Year", "Country", "Activity", "Type", "Fatal (Y/N)",]]
dfin

,Year,Country,Area,Location,Activity,Type,Fatal (Y/N)
0,2018.0,USA,California,"Oceanside, San Diego County",Paddling,Boating,N
1,2018.0,USA,Georgia,"St. Simon Island, Glynn County",Standing,Unprovoked,N
2,2018.0,USA,Hawaii,"Habush, Oahu",Surfing,Invalid,N
3,2018.0,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,Unprovoked,N
4,2018.0,MEXICO,Colima,La Ticla,Free diving,Provoked,N
...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Limpiamos las filas donde todas las columnas están con NaN

In [6]:
dfin.isnull().sum().sort_values(ascending=False).head(20)

Activity       19965
Location       19961
Fatal (Y/N)    19960
Area           19876
Country        19471
Type           19425
Year           19423
dtype: int64

In [7]:
dfin=dfin.dropna(axis=0, how='all')

In [8]:
indexNames = dfin[(dfin['Country'] != "USA") & (dfin['Country'] != "AUSTRALIA")].index
dfin.drop(indexNames , inplace=True)

/home/jorge/.local/lib/python3.6/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [9]:
dfin.isnull().sum().sort_values(ascending=False).head(20)

Fatal (Y/N)    301
Activity       257
Location        95
Area            18
Type             1
Year             1
Country          0
dtype: int64

In [10]:
dfin["Year"].value_counts().sort_values('index', ascending=True).head(5)

1771.0    1
1780.0    1
1791.0    1
1779.0    1
1807.0    1
Name: Year, dtype: int64

In [11]:
dfin['Year'] = dfin['Year'].fillna(0)

/home/jorge/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
dfin.isnull().sum().sort_values(ascending=False).head(20)

Fatal (Y/N)    301
Activity       257
Location        95
Area            18
Type             1
Country          0
Year             0
dtype: int64

In [13]:
dfin.Year = dfin.Year.astype(int)

/home/jorge/.local/lib/python3.6/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [14]:
dfin["Year"].value_counts()

2015    104
2016     96
2014     95
2012     90
2017     88
       ...
1807      1
1805      1
1791      1
1779      1
1751      1
Name: Year, Length: 200, dtype: int64

In [15]:
dfin["Fatal (Y/N)"].value_counts()

N          2752
Y           469
UNKNOWN      39
 N            5
N             1
Name: Fatal (Y/N), dtype: int64

In [16]:
dfin['Fatal (Y/N)'] = dfin['Fatal (Y/N)'].fillna("UNKNOWN")

/home/jorge/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
def fatal(x):
    if x in ["Y", "y"]:
        return "Yes"
    elif x in ["N"," N"]:
        return "No"    
    return "Unknown"


dfin["Fatal (Y/N)"] = dfin["Fatal (Y/N)"].apply(fatal)

/home/jorge/.local/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [18]:
def year(x):
    if x >= 1930 and x <=1939:
        return "1930's"
    if x >= 1940 and x <=1949:
        return "1940's"
    if x >= 1950 and x <=1959:
        return "1950's"
    if x >= 1960 and x <=1969:
        return "1960's"
    if x >= 1970 and x <=1979:
        return "1970's"
    if x >= 1980 and x <=1989:
        return "1980's"
    if x >= 1990 and x <=1999:
        return "1990's"
    if x >= 2000 and x <=2010:
        return "2000's"
    if x >= 2010:
        return "2010's"
    return "Before 1930"

dfin["Year"]= dfin["Year"].apply(year)

/home/jorge/.local/lib/python3.6/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
dfin["Year"].value_counts()

2000's         755
2010's         654
Before 1930    608
1990's         348
1960's         291
1980's         249
1950's         210
1930's         183
1970's         163
1940's         106
Name: Year, dtype: int64

In [20]:
dfin["Country"].value_counts()

USA          2229
AUSTRALIA    1338
Name: Country, dtype: int64

In [21]:
dfin["Fatal (Y/N)"].value_counts()

No         2757
Yes         469
Unknown     341
Name: Fatal (Y/N), dtype: int64

In [22]:
dfin.head()

,Year,Country,Area,Location,Activity,Type,Fatal (Y/N)
0,2010's,USA,California,"Oceanside, San Diego County",Paddling,Boating,No
1,2010's,USA,Georgia,"St. Simon Island, Glynn County",Standing,Unprovoked,No
2,2010's,USA,Hawaii,"Habush, Oahu",Surfing,Invalid,No
3,2010's,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,Unprovoked,No
5,2010's,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Unprovoked,No

In [81]:
new2 = dfin.groupby(["Year", "Fatal (Y/N)"]).agg({"Fatal (Y/N)":"count"})
new2

                         Fatal (Y/N)
Year        Fatal (Y/N)
1930's      No                   122
            Unknown               18
            Yes                   43
1940's      No                    70
            Unknown               10
            Yes                   26
1950's      No                   155
            Unknown               21
            Yes                   34
1960's      No                   221
            Unknown               49
            Yes                   21
1970's      No                   132
            Unknown               11
            Yes                   20
1980's      No                   198
            Unknown               29
            Yes                   22
1990's      No                   294
            Unknown               31
            Yes                   23
2000's      No                   673
            Unknown               51
            Yes                   31
2010's      No                   587
            Unknown               45
            Yes                   22
Before 1930 No                   305
            Unknown               76
            Yes                  227

In [83]:
new = dfin.groupby(["Year", "Fatal (Y/N)"]).agg({"Fatal (Y/N)":"count"})/new2.sum()
new.head()

                    Fatal (Y/N)
Year   Fatal (Y/N)
1930's No              0.034202
       Unknown         0.005046
       Yes             0.012055
1940's No              0.019624
       Unknown         0.002803

In [42]:
new2 = new.groupby(["Year", "Fatal (Y/N)"]).sum()

In [86]:
groupped_data = dfin.groupby(["Year", "Fatal (Y/N)"]).agg({"Fatal (Y/N)":"count"})
groupped_data["%"] = groupped_data.apply(lambda x:  100*x / x.sum())


groupped_data["%"] = groupped_data.groupby(level=0).apply(
     lambda x:  100*x / x.sum()
)
groupped_data

                         Fatal (Y/N)          %
Year        Fatal (Y/N)
1930's      No                   122  66.666667
            Unknown               18   9.836066
            Yes                   43  23.497268
1940's      No                    70  66.037736
            Unknown               10   9.433962
            Yes                   26  24.528302
1950's      No                   155  73.809524
            Unknown               21  10.000000
            Yes                   34  16.190476
1960's      No                   221  75.945017
            Unknown               49  16.838488
            Yes                   21   7.216495
1970's      No                   132  80.981595
            Unknown               11   6.748466
            Yes                   20  12.269939
1980's      No                   198  79.518072
            Unknown               29  11.646586
            Yes                   22   8.835341
1990's      No                   294  84.482759
            Unknown               31   8.908046
            Yes                   23   6.609195
2000's      No                   673  89.139073
            Unknown               51   6.754967
            Yes                   31   4.105960
2010's      No                   587  89.755352
            Unknown               45   6.880734
            Yes                   22   3.363914
Before 1930 No                   305  50.164474
            Unknown               76  12.500000
            Yes                  227  37.335526

In [88]:
dfin["Type"].value_counts()

Unprovoked      2655
Provoked         344
Invalid          312
Boating          135
Boat              62
Sea Disaster      56
Questionable       2
Name: Type, dtype: int64